* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: powderblue;
}

.main {
  max-width: 1140px;
  margin: 0 auto;
  padding: 1rem;
}

.title {
  text-align: center;
  padding: 2rem 0;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.card {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.card span {
  font-weight: 500;
}

@media (max-width: 991px) {
  .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .card-wrapper {
    grid-template-columns: 1fr;
  }
}
